<% include ./partials/header%>

    <div>
        <div class="flex flex-col justify-center items-center">
            <div class="flex justify-center items-center gap-16 p-8">
                <form class="flex justify-center items-center gap-16 p-8" id="updateavatarform" action="/updateavatar" enctype="multipart/form-data" method="post">
                    <img  src="../images/userprofilepics/<%=user.avatar%>" class="rounded-full h-32 w-32 bg-cover" alt="">
                    <input name="updatedavatar" type="file" id="hiddeninput" class="hidden"  >
                </form>
                <button id="fileinputbtn" class=" bg-zinc-100 rounded-full h-12 px-6" >Change</button>
            </div>
            <div class="flex flex-col max-w-md w-full gap-4">
                <form class="flex flex-col max-w-md w-full gap-4" action="/updateprofile" method="post">
                    <input name="editfullname" type="text " placeholder="Full name" value="<%=user.fullname%>" class=" max-w-2xl w-full border-zinc-400 border px-4 py-2 rounded-xl" >
                    <input name="editusername" type="text " placeholder="Username" value="<%=user.username%>" class="max-w-2xl border-zinc-400 border px-4 py-2 rounded-xl" >
                    <textarea name="editdesc" type="textarea" rows="5" placeholder="Add your description"   class="align-text-top max-w-2xl h-28 text-start  border-zinc-400 border px-4 py-2 rounded-xl" ><%=user.description%></textarea>
                    <input name="editpassword" type="password " placeholder="New Password"  class="max-w-2xl border-zinc-400 border px-4 py-2 rounded-xl" >
                    <button type="submit" class="bg-zinc-100 rounded-full h-12 px-6">Save</button>
                </form>
            </div>

            
        </div>
    </div>
    <script>
        document.querySelector('#fileinputbtn').addEventListener("click", ()=>{
            document.querySelector('#updateavatarform input').click()
        })
    
    document.querySelector('#updateavatarform input').addEventListener('change', function() {
      updateavatarform.submit();
    });
    </script>
<% include ./partials/footer%>
